body {
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#background {
    position: absolute;
    bottom: -7100px;
    left: -6950px;
}

#planes {
    position: absolute;
}   


#map {
    position: relative;
}
#ITKO {
    position: absolute; 
    bottom: 3120px; /*3240 3245*/
    left: -980px;  /*-900 -910*/
    transform: rotate(90deg); /*85 87*/
    width: 580px; /*400 400*/
    height: 770px;
}
#ILAR {
    position: absolute; 
    bottom: -3720px; 
    left: 1890px;  
    transform: rotate(90deg);
    width: 200px;
}
#IRFD {
    position: absolute; 
    bottom: -2520px; /*-2545 -2550 -2523 -2520-these are almost perfect*/  
    left: -443px; /*-425 -427 -435 -445-these are almost perfect*/
    transform: rotate(90deg); /*87 87 90 90-these are almost perfect*/
    width: 415px; /*385 393 380 415-these are almost perfect*/
    height: 490px; /* 00 00 480 490-these are almost perfect*/
}
#IPPH {
    position: absolute; 
    bottom: 1955px; /*1947*/
    left: 1513px;  /*1513*/
    transform: rotate(90deg);/*90*/
    width: 350px; /*365 */
    height: 485px;
}
#taxiways {
    font-size: 8px;
    color: whitesmoke;
    font-weight: 300;
    font-family: "Inconsalata", monospace;
    opacity: 80%;
}