body {
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#background {
    position: absolute;
    bottom: -7100px;
    left: -6950px;
}

#planes {
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}   


#map {
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ITKO {
    position: absolute; 
    bottom: 3160px; /*3240 3245 3160*/
    left: -950px;  /*-900 -910 -965*/
    transform: rotate(90deg); /*85 87 90*/
    width: 520px; /*400 400 525*/
    height: 690px; /* 0 0 690*/
}
#ILAR {
    position: absolute; 
    bottom: -3705px; 
    left: 1880px;  
    transform: rotate(90deg);
    width: 215px;
    height: 260px;
}
#IRFD {
    position: absolute; 
    bottom: -2520px; /*-2545 -2550 -2523 -2520-these are almost perfect*/  
    left: -445px; /*-425 -427 -435 -445-these are almost perfect*/
    transform: rotate(90deg); /*87 87 90 90-these are almost perfect*/
    width: 420px; /*385 393 380 415-these are almost perfect*/
    height: 490px; /* 00 00 480 490-these are almost perfect*/
}
#IPPH {
    position: absolute; 
    bottom: 1987px; /*1947 2000 2003*/
    left: 1504px;  /*1513 1515 1510*/
    transform: rotate(90deg);/*90 90 90*/
    width: 370px; /*365 340 345*/
    height: 438px; /* 00 420 420*/
}
#approaches {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#approaches svg {
    display: block;
}

#taxiways {
    font-size: 8px;
    color: whitesmoke;
    font-weight: 300;
    font-family: "Inconsalata", monospace;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top_bar {
    z-index: 5;
    background-color:rgb(51, 51, 51);
    width: 99%;
    height: 40px;
    position: relative;
    top: 0%;
    vertical-align: middle;
    align-self:center;
    left: 0.5%;
    border-radius: 10px;
}
#top_bar p {
    padding-top: 10px;
    padding-left: 25px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#top_bar p:hover {
    cursor: pointer;
}

footer {
    vertical-align: bottom;
}
#selected {
    color: gray;
}
#IFR_menu {
    width: 30%;
    height: 700%;
    background-color: rgb(51, 51, 51);
    margin-top: 30px;
    margin-left: 0px;
    padding-top: 1px;
    border-radius: 15px;
}
#cookie_Banner {
    position: absolute;
    left: 77%;
    bottom: 1%;
    width: 21%;
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;   
    background-color: rgb(51, 51, 51);
    opacity: 0.8;
    border-radius: 10px;
}
#cookie_Banner p{
    font-size: 13px;
}
#cookie_Banner h3 {
    padding-top: 10px;
}
#cookie_Banner button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    font-size: large;
}

#cookie_policy {
    width: 50%;
}