body {
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#background {
    position: absolute;
    bottom: -7100px;
    left: -6950px;
}

#planes {
    position: absolute;
}   


#map {
    position: relative;
}
#ITKO {
    position: absolute; 
    bottom: 3165px; /*3240 3245*/
    left: -972px;  /*-900 -910*/
    transform: rotate(90deg); /*85 87*/
    width: 530px; /*400 400*/
    height:700px;
}
#ILAR {
    position: absolute; 
    bottom: -3720px; 
    left: 1890px;  
    transform: rotate(90deg);
    width: 200px;
}
#IRFD {
    position: absolute; 
    bottom: -2520px; /*-2545 -2550 -2523 -2520-these are almost perfect*/  
    left: -445px; /*-425 -427 -435 -445-these are almost perfect*/
    transform: rotate(90deg); /*87 87 90 90-these are almost perfect*/
    width: 415px; /*385 393 380 415-these are almost perfect*/
    height: 490px; /* 00 00 480 490-these are almost perfect*/
}
#IPPH {
    position: absolute; 
    bottom: 1973px; /*1947 2000 2003*/
    left: 1520px;  /*1513 1515 1510*/
    transform: rotate(90deg);/*90 90 90*/
    width: 340px; /*365 340 345*/
    height: 460px; /* 00 420 420*/
}
#taxiways {
    font-size: 8px;
    color: whitesmoke;
    font-weight: 300;
    font-family: "Inconsalata", monospace;
    opacity: 80%;
}